<div class="container mb-5">
  <div class="card mx-auto">
    <div class="card-body">
      <div class="card-title text-center mb-5">
        <h2>{{mode}} Release</h2>
      </div>

      <!--  <div class="mt-5 text-center">
        <button type="button" class="btn btn-lg px-gdn-btn-outline card-bg" (click)="changeMode()">
          Switch to {{mode=='Edit'? 'create' : 'edit' }} mode
        </button>
      </div>
      -->

      <div class="alert alert-danger" *ngIf="error">
        You have entered wrong details
        {{errorMessage}}
      </div>

      <form novalidate [formGroup]="createForm" (ngSubmit)="onSubmit()">

        <form-wizard [txtBtnDone]="mode">

          <wizard-step [title]="'1: Basic info.'" [isValid]="isValidStep('step1')" >
            <br />

            <div class="form-group">
              <label for="name">Release Name</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="release.name"
                  placeholder="Release Name" [className]="!isValid('name')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('name')">
                  {{getValidationMsg('name')}}
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="Type">Release Type</label>
              <div class="input-group">
                <select class="form-control" id="type" required formControlName='type' [(ngModel)]="release.type"
                  name="type" [className]="!isValid('type')?'form-control is-invalid':'form-control'">
                  <option value="OOC" selected>OOC</option>
                  <option value="ER">ER</option>
                  <option value="Hot Fix">Hot Fix</option>
                </select>
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('type')">
                  {{getValidationMsg('type')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Description">Description</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="description" [(ngModel)]="release.description"
                  placeholder="Description"
                  [className]="!isValid('description')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('description')">
                  {{getValidationMsg('description')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="releaseDate">Release Date</label>
              <div class="input-group">
                <input type="date" text="picker" class="form-control" formControlName="releaseDate"
                  [(ngModel)]="release.releaseDate"
                  [className]="!isValid('releaseDate')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('releaseDate')">
                  {{getValidationMsg('releaseDate')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="cabDate">CAB</label>
              <div class="input-group">
                <input type="date" class="form-control" formControlName="cabDate" [(ngModel)]="release.cabDate"
                  placeholder="CIO2" [className]="!isValid('cabDate')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('cabDate')">
                  {{getValidationMsg('cabDate')}}
                </div>
              </div>
            </div>

          </wizard-step>

          <wizard-step [title]="'2: Dev/Test'" [isValid]="isValidStep('step2')">
            <br />

            <div class="form-group">
              <label for="startDate">Dev/Test Start Date</label>
              <div class="input-group">
                <div class="input-group">
                  <input type="date" text="picker" class="form-control" formControlName="startDate"
                    [(ngModel)]="release.startDate"
                    [className]="!isValid('startDate')?'form-control is-invalid':'form-control'" />
                  <!-- validation feedback text -->
                  <div class="form-text invalid-feedback" *ngIf="!isValid('startDate')">
                    {{getValidationMsg('startDate')}}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="devfinish">Dev/Test Finish Date</label>
              <div class="input-group">
                <input type="date" text="picker" class="form-control" formControlName="devfinish"
                  [(ngModel)]="release.devfinish"
                  [className]="!isValid('devfinish')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('devfinish')">
                  {{getValidationMsg('devfinish')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="refreshDate">Potential Code Refresh Date</label>
              <div class="input-group">
                <input type="date" text="refreshDate" class="form-control" formControlName="refreshDate"
                  [(ngModel)]="release.refreshDate"
                  [className]="!isValid('refreshDate')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('refreshDate')">
                  {{getValidationMsg('refreshDate')}}
                </div>
              </div>
            </div>

          </wizard-step>

          <wizard-step [title]="'3: Regression'" [isValid]="isValidStep('step3')">
            <br />

            <div class="form-group">
              <label for="regressionDeploy">Regression Deploy Date</label>
              <div class="input-group">
                <input type="date" text="regressionDeploy" class="form-control" formControlName="regressionDeploy"
                  [(ngModel)]="release.regressionDeploy"
                  [className]="!isValid('regressionDeploy')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('regressionDeploy')">
                  {{getValidationMsg('regressionDeploy')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="regressionStart">Regression Start Date</label>
              <div class="input-group">
                <input type="date" text="regressionStart" class="form-control" formControlName="regressionStart"
                  [(ngModel)]="release.regressionStart"
                  [className]="!isValid('regressionStart')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('regressionStart')">
                  {{getValidationMsg('regressionStart')}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="regressionEnd">Regression End Date</label>
              <div class="input-group">
                <input type="date" text="regressionEnd" class="form-control" formControlName="regressionEnd"
                  [(ngModel)]="release.regressionEnd"
                  [className]="!isValid('regressionEnd')?'form-control is-invalid':'form-control'" />
                <!-- validation feedback text -->
                <div class="form-text invalid-feedback" *ngIf="!isValid('regressionEnd')">
                  {{getValidationMsg('regressionEnd')}}
                </div>
              </div>
            </div>

          </wizard-step>

          <wizard-step [title]="'4: Details'" [isValid]="isValidStep('step4')" [showNext]="true">

                <br />

                <div class="form-group">
                  <label for="testenvironment">Test Environment</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="testenvironment"
                      [(ngModel)]="release.testenvironment" placeholder="CIO2"
                      [className]="!isValid('testenvironment')?'form-control is-invalid':'form-control'" />
                    <!-- validation feedback text -->
                    <div class="form-text invalid-feedback" *ngIf="!isValid('testenvironment')">
                      {{getValidationMsg('testenvironment')}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="regenvironment">Regression Environment</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="regenvironment"
                      [(ngModel)]="release.regenvironment" placeholder="LAB03"
                      [className]="!isValid('regenvironment')?'form-control is-invalid':'form-control'" />
                    <!-- validation feedback text -->
                    <div class="form-text invalid-feedback" *ngIf="!isValid('regenvironment')">
                      {{getValidationMsg('regenvironment')}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="sitecore">Site Core</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="sitecore" [(ngModel)]="release.sitecore"
                      placeholder="C5261" [className]="!isValid('sitecore')?'form-control is-invalid':'form-control'" />
                    <!-- validation feedback text -->
                    <div class="form-text invalid-feedback" *ngIf="!isValid('sitecore')">
                      {{getValidationMsg('sitecore')}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="biztalk">Biz Talk</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="biztalk" [(ngModel)]="release.biztalk"
                      placeholder="C5410" [className]="!isValid('biztalk')?'form-control is-invalid':'form-control'" />
                    <!-- validation feedback text -->
                    <div class="form-text invalid-feedback" *ngIf="!isValid('biztalk')">
                      {{getValidationMsg('biztalk')}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="devsupport">Dev Support</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="devsupport"
                      [(ngModel)]="release.devsupport" placeholder="James"
                      [className]="!isValid('devsupport')?'form-control is-invalid':'form-control'" />
                    <!-- validation feedback text -->
                    <div class="form-text invalid-feedback" *ngIf="!isValid('devsupport')">
                      {{getValidationMsg('devsupport')}}
                    </div>
                  </div>
                </div>

          </wizard-step>


          <wizard-step [title]="'Summary'" [showNext]="false" [isValid]="isValidStep('done')" 
            (onComplete)="onSubmit()">
            <div [ngSwitch]="isCompleted">
              <div *ngSwitchDefault>
                <br />
                <div><span class="font-weight-bold">Release Name: </span><span [className]="!isValid('name')?'text-light bg-danger':''" >{{release.name}}</span></div>
                <div><span class="font-weight-bold">Description: </span><span [className]="!isValid('description')?'text-light bg-danger':''" >{{release.description}}</span></div>
                <div><span class="font-weight-bold">Release Date: </span><span [className]="!isValid('releaseDate')?'text-light bg-danger':''" >{{release.releaseDate}}</span></div>
                <div><span class="font-weight-bold">CAB Date: </span><span [className]="!isValid('cabDate')?'text-light bg-danger':''" >{{release.cabDate}}</span></div>
                <hr/>
                <div><span class="font-weight-bold">Dev/Test Start Date: </span><span [className]="!isValid('startDate')?'text-light bg-danger':''" >{{release.startDate}}</span></div>
                <div><span class="font-weight-bold">Dev/Test Finish Date: </span><span [className]="!isValid('devfinish')?'text-light bg-danger':''" >{{release.devfinish}}</span></div>
                <div><span class="font-weight-bold">Potential Code Refresh Date: </span><span [className]="!isValid('refreshDate')?'text-light bg-danger':''" >{{release.refreshDate}}</span></div>
                <hr/>
                <div><span class="font-weight-bold">Regression Deploy Date: </span><span [className]="!isValid('regressionDeploy')?'text-light bg-danger':''" >{{release.regressionDeploy}}</span></div>
                <div><span class="font-weight-bold">Regression Start Date: </span><span [className]="!isValid('regressionStart')?'text-light bg-danger':''" >{{release.regressionStart}}</span></div>
                <div><span class="font-weight-bold">Regression End Date: </span><span [className]="!isValid('regressionEnd')?'text-light bg-danger':''" >{{release.regressionEnd}}</span></div>
                <hr/>
                <div><span class="font-weight-bold">Test Environment: </span><span [className]="!isValid('testenvironment')?'text-light bg-danger':''" >{{release.testenvironment}}</span></div>
                <div><span class="font-weight-bold">Regression Environment: </span><span [className]="!isValid('regenvironment')?'text-light bg-danger':''" >{{release.regenvironment}}</span></div>
                <div><span class="font-weight-bold">Site Core: </span><span [className]="!isValid('sitecore')?'text-light bg-danger':''" >{{release.sitecore}}</span></div>
                <div><span class="font-weight-bold">Biz Talk: </span><span [className]="!isValid('biztalk')?'text-light bg-danger':''" >{{release.biztalk}}</span></div>
                <div><span class="font-weight-bold">Dev Support: </span><span [className]="!isValid('devsupport')?'text-light bg-danger':''" >{{release.devsupport}}</span></div>
                <hr/>
              </div>
              <div *ngSwitchCase="true">
                <br/>
                <h4>The form has been submitted...</h4>
              </div>
            </div>
          </wizard-step>

        </form-wizard>
      </form>


    </div>
  </div>
</div>