<div class="container" id="dashboard">
  <div class="row mb-4" *ngIf="release">
    <h1 class="text-primary col-12">
      {{ release.projects[0].versionDetails.name }}
      <a routerLink="/release/edit/{{ releaseId }}">
        <small
          ><i class="fa fa-edit" ngbTooltip="Edit" placement="right"></i
        ></small>
      </a>
      <!-- <span class="mb-3 mr-3"></span>

      <span class="mb-3 mr-3"></span> -->
      <button class="btn-primary btn-sm pull-right" (click)="genPDF()">
        Download PDF
      </button>
      <span class="mb-3 mr-3"></span>
      <button class="btn-primary btn-sm pull-right mr-3" (click)="genDOC()">
        Download Release Notes
      </button>
    </h1>

    <p class="col-12">{{ release.projects[0].versionDetails.description }}</p>
  </div>

  <div class="row display-flex mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-nowrap mr-2">Release Details</h5>
        </div>
        <div class="card-body" *ngIf="release">
          <!-- <canvas id="canvas">{{ chart }}</canvas> -->
          <p>
            <label>Release Date: </label>&nbsp;{{
              release.projects[0].versionDetails.releaseDate | date
            }}&nbsp;<span class="badge badge-info"
              >{{ release.days }} days remaining</span
            >
          </p>
          <p><label>Release Type: </label>&nbsp;{{ release.releaseType }}</p>
          <p *ngIf="release.cabDate != null">
            <label>CAB Date: </label>&nbsp;{{ release.cabDate | date }}
          </p>
          <p><label>Biztalk: </label>&nbsp;{{ release.biztalk }}</p>
          <p><label>Sitecore: </label>&nbsp;{{ release.sitecore }}</p>
          <p>
            <label>Test Environment: </label>&nbsp;{{ release.testEnvironment }}
          </p>

          <hr class="mt-3" />

          <div class="row">
            <div class="col-9">
              <p><label>Deployment Champion</label></p>
              <p>{{ release.deploymentChampionUserDetails.displayName }}</p>
              <p>
                <a
                  href="mailto:{{
                    release.deploymentChampionUserDetails.emailAddress
                  }}"
                  >{{ release.deploymentChampionUserDetails.emailAddress }}</a
                >
              </p>
            </div>
            <div class="col-3">
              <img
                class="img-fluid"
                [src]="
                  release.deploymentChampionUserDetails['avatarUrls']['48x48']
                "
              />
            </div>
          </div>

          <hr class="mt-3" />

          <div class="row">
            <div class="col-9">
              <p><label>Development Support</label></p>
              <p>{{ release.devSupportUserDetails.displayName }}</p>
              <p>
                <a
                  href="mailto:{{ release.devSupportUserDetails.emailAddress }}"
                  >{{ release.devSupportUserDetails.emailAddress }}</a
                >
              </p>
            </div>
            <div class="col-3">
              <img
                class="img-fluid"
                [src]="release.devSupportUserDetails['avatarUrls']['48x48']"
              />
            </div>
          </div>

          <hr class="mt-3" />
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-block d-flex">
        <div class="card-header ">
          <h5 class="card-title text-nowrap mr-2">Issues Status</h5>
        </div>
        <div class="card-body align-items-center d-flex justify-content-center">
          <canvas id="canvas">{{ chart }}</canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4" *ngIf="release">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-nowrap mr-2">Release Checklists</h5>
        </div>
        <div class="card-body">
          <!-- <div id="timeline" #visTimeline></div> -->
          <div *ngFor="let checklist of release.checklists">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check form-check-inline">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [checked]="checklist.value"
                    [disabled]="userRole != 'SuperAdmin'"
                    [(ngModel)]="checklist.value"
                    (ngModelChange)="updateRelease()"
                  />
                  <label class="form-check-label">{{ checklist.name }}</label
                  ><br />
                </div>
                <p>
                  <label>Due date:</label>&nbsp;{{ checklist.dueDate | date }}
                </p>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-9">
                    <p>
                      <label>{{ checklist.name }} Contact Person</label>
                    </p>
                    <p>{{ checklist.contactPersonUserDetails.displayName }}</p>
                    <p>
                      <a
                        href="mailto:{{
                          checklist.contactPersonUserDetails.emailAddress
                        }}"
                        >{{
                          checklist.contactPersonUserDetails.emailAddress
                        }}</a
                      >
                    </p>
                  </div>
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      [src]="
                        checklist.contactPersonUserDetails['avatarUrls'][
                          '48x48'
                        ]
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr
              class="mt-3"
              *ngIf="
                release.checklists.indexOf(checklist) !=
                release.checklists.length - 1
              "
            />
          </div>
        </div>

        <!-- <div
              *ngFor="let checklist of release.checklists"
              [className]="
                checklist.value == true
                  ? 'alert alert-info'
                  : 'alert alert-danger'
              "
            >
              <label>{{ checklist.name }}</label>
            </div> -->
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-nowrap mr-2">Release Timeline</h5>
        </div>
        <div class="card-body">
          <div id="timeline" #visTimeline></div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      release &&
      issues &&
      (issues.toDO.issues.length > 0 ||
        issues.inReview.issues.length > 0 ||
        issues.inProgress.issues.length > 0 ||
        issues.done.issues.length > 0)
    "
  >
    <h2 class="text-secondary">Release Issues Board</h2>
    <hr />
    <div class="row" *ngIf="release">
      <div class="col-md-6 pull-right">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Project</label>
          <select
            class="form-control"
            [(ngModel)]="selectedProjectId"
            id="selectedProjectId"
          >
            <option value="" selected>All</option>
            <option
              *ngFor="let project of release.projects"
              value="{{ project.projectId }}"
              >{{ project.name }}</option
            >
          </select>
        </div>
      </div>
    </div>

    <div
      class="row mb-4"
      *ngIf="
        release &&
        issues &&
        (issues.toDO.issues.length > 0 ||
          issues.inReview.issues.length > 0 ||
          issues.inProgress.issues.length > 0 ||
          issues.done.issues.length > 0)
      "
    >
      <div class="col-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            To Do ({{
              (
                issues.toDO.issues
                | ProjectFilter: { projectId: selectedProjectId }
              ).length
            }})
          </div>
          <div class="card-body">
            <a
              class="btn text-white mb-2"
              style="background-color: #C13100"
              *ngFor="
                let issue of issues.toDO.issues
                  | ProjectFilter: { projectId: selectedProjectId }
              "
              href="https://releasedashboard.atlassian.net/browse/{{
                issue.key
              }}"
              target="_blank"
            >
              <p>
                {{ issue.fields.summary }}
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            In Review ({{
              (
                issues.inReview.issues
                | ProjectFilter: { projectId: selectedProjectId }
              ).length
            }})
          </div>
          <div class="card-body">
            <a
              class="btn text-white mb-2"
              style="background-color: #FF9900"
              *ngFor="
                let issue of issues.inReview.issues
                  | ProjectFilter: { projectId: selectedProjectId }
              "
              href="https://releasedashboard.atlassian.net/browse/{{
                issue.key
              }}"
              target="_blank"
              ><p>
                {{ issue.fields.summary }}
              </p></a
            >
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            In Progress ({{
              (
                issues.inProgress.issues
                | ProjectFilter: { projectId: selectedProjectId }
              ).length
            }})
          </div>
          <div class="card-body">
            <a
              class="btn text-white mb-2"
              style="background-color: #3e95cd"
              *ngFor="
                let issue of issues.inProgress.issues
                  | ProjectFilter: { projectId: selectedProjectId }
              "
              href="https://releasedashboard.atlassian.net/browse/{{
                issue.key
              }}"
              target="_blank"
              ><p>
                {{ issue.fields.summary }}
              </p></a
            >
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Done ({{
              (
                issues.done.issues
                | ProjectFilter: { projectId: selectedProjectId }
              ).length
            }})
          </div>
          <div class="card-body">
            <a
              class="btn text-white mb-2"
              style="background-color: #3cba9f"
              *ngFor="
                let issue of issues.done.issues
                  | ProjectFilter: { projectId: selectedProjectId }
              "
              href="https://releasedashboard.atlassian.net/browse/{{
                issue.key
              }}"
              target="_blank"
              ><p>
                {{ issue.fields.summary }}
              </p></a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Versioning table-->
    <div class="row">
      <div
        class="col-12 col-md-6 mb-3"
        *ngIf="release && (release.versionning > 0 || userRole == 'SuperAdmin')"
      >
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Release Versioning</h5>
            <label
              class="btn-sm btn-primary"
              routerLink="/versioning/{{ releaseId }}"
            >
              Add Version Details
            </label>
          </div>
          <div class="card-body">
            <table class="table" *ngIf="release.versioning">
              <thead>
                <tr>
                  <th scope="col">Sitecore</th>
                  <th scope="col">SPA</th>
                  <th scope="col">BiztalkWCF</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="release.versioning">
                  <td>{{ release.versioning.sitecore }}</td>
                  <td>{{ release.versioning.SPA }}</td>
                  <td>{{ release.versioning.biztalkWCF }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End of Versioning table-->

      <div
        class="col-12 col-md-6 mb-3"
        *ngIf="
          release &&
          (release.testResults.length > 0 || userRole == 'SuperAdmin')
        "
      >
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Release Test Results</h5>
          </div>
          <div class="card-body">
            <div *ngIf="loading" id="loader"></div>

            <!-- Upload components -->
            <div class="row mb-3" *ngIf="userRole == 'SuperAdmin'">
              <angular-file-uploader
                [config]="uploadConfig"
                (ApiResponse)="uploadTestResult($event)"
              >
              </angular-file-uploader>
            </div>

            <div class="row">
              <table
                *ngIf="!loading && release.testResults.length > 0"
                class="table"
              >
                <thead>
                  <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">Upload Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let testResult of release.testResults">
                    <td>
                      <a (click)="downloadResult(testResult)">{{
                        testResult.filename
                      }}</a>
                    </td>
                    <td>{{ testResult.uploadDate | date }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="deleteTestResult(testResult)"
                      >
                        <span class="fa fa-close"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Upload result test section -->

      <!-- Download result test section-->
      <!-- <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Testing Results</h5>
          <div *ngIf="loading" id="loader"></div>
          <table *ngIf="!loading" class="table">
            <thead>
              <tr>
                <th scope="col">Files</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let testResult of release.testResults">
                <td>
                  <button
                    class="btn-primary btn-sm"
                    (click)="downloadResult(testResult)"
                  >
                    <small>
                      <span>View</span>
                    </small>
                  </button>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!release.testResults" class="text-center">
            No such data
          </div>
        </div>
      </div>
    </div> -->
      <!-- End of Download result test section -->
    </div>
  </div>
</div>
