<div class="container mb-5" *ngIf="loaded">
  <div class="row align-items-center">
    <div class="col-md-4 align-items-center text-right">
      <i
        style="cursor: pointer;"
        class="fa fa-chevron-left fa-4x"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        ngbTooltip="Previous"
        placement="left"
      ></i>
    </div>
    <div class="col-md-4 align-items-center text-center">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
    </div>
    <div class="col-md-4 align-items-center text-left">
      <div class="btn-group">
        <i
          class="fa fa-chevron-right fa-4x"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          style="cursor: pointer;"
          ngbTooltip="Next"
          placement="right"
        ></i>
      </div>
    </div>
  </div>

  <div [ngSwitch]="view" class="mt-3">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleClickEvent($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>
