<div class="container-4">
  <h1> Release Dashboard
    <a routerLink="/release/edit/{{releaseId}}">
        <small>(Edit)</small>
    </a>
  </h1>
  <br>
  <div class="floatLeft">
    <h3>Release Details</h3>
    <table class="table table-striped">

      <tbody>
        <tr *ngFor="let detail of release">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="floatRight">
    <table class="table table-striped">
      <h3>Issue Status</h3>
      <canvas id="canvas">{{ chart }}</canvas>
    </table>
  </div>

</div>


<div class="container-1">
  <h2>Timeline</h2>
  <div id="timeline" #visTimeline></div>
</div>

<div class="container-4">
  <div class="floatLeft">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let detail of environment">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="floatRight">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let detail of release">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>






<div class="container-2">
  
  <div class="row" *ngFor="let issues of allIssues">
      <h6>{{issues.teamName}}</h6>
    <div class="card" style="width: 25rem;">
      <div class="card-header">
        To Do
      </div>
      <ul class="list-group list-group-flush"  *ngFor="let issuesName of issues.toDo">
        <li class="list-group-item" >{{issuesName}}</li>
      </ul>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-header">
        In Progress
      </div>
      <ul class="list-group list-group-flush" *ngFor="let issuesName of issues.inProgress">
        <li class="list-group-item" >{{issuesName}}</li>
      </ul>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-header">
        Done
      </div>
      <ul class="list-group list-group-flush" *ngFor="let issuesName of issues.inProgress">
        <li class="list-group-item">{{issuesName}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-2">
  <h1> Release Details</h1>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let detail of details">
        <td>{{ detail.first }}</td>
        <td>{{ detail.second }}</td>
      </tr>
    </tbody>
  </table>
</div>