<div class="container-4">
  <h1> Release Dashboard</h1>
  <br>
  <div class="floatLeft">
    <h3>Release Details</h3>
    <table class="table table-striped">

      <tbody>
        <tr *ngFor="let detail of release">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="floatRight">
    <table class="table table-striped">
      <h3>Issue Status</h3>
      <canvas id="canvas">{{ chart }}</canvas>
    </table>
  </div>

</div>


<div class="container-1">
  <h2>Timeline</h2>
  <div id="timeline" #visTimeline></div>
</div>

<div class="container-4">
  <div class="floatLeft">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let detail of environment">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="floatRight">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let detail of release">
          <td>{{ detail.first }}</td>
          <td>{{ detail.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<h3>Rabbit</h3>
<div class="container-2">
  <div class="row">
      
    <div class="card" style="width: 27rem;">
      <div class="card-header">
        To Do
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" >Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="card" style="width: 27rem;">
      <div class="card-header">
        In Progress
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="card" style="width: 27rem;">
      <div class="card-header">
        Done
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-2">
  <h1> Release Details</h1>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let detail of details">
        <td>{{ detail.first }}</td>
        <td>{{ detail.second }}</td>
      </tr>
    </tbody>
  </table>
</div>